<template>
  <v-card
    :id="data.id"
    :color="colors[color].darken1"
    class="ma-auto"
    :min-width="width"
    :min-height="showCardExplanation ? height : 130"
    @click="updateView()"
  >
    <v-card-title class="justify-center font-weight-bold">
      {{ data.title }}
    </v-card-title>
    <v-card-text
      class="font-light text-center font-weight-medium"
      v-if="showCardExplanation"
    >
      {{ data.text }}
    </v-card-text>
    <v-footer absolute :color="colors[color].lighten5" class="pa-1">
      <v-btn block text large tile>{{ data.duration }} secondes</v-btn>
    </v-footer>
  </v-card>
</template>

<script>
import COLORS from "vuetify/lib/util/colors";

export default {
  name: "CardExplanation",
  props: {
    data: Object,
    color: String,
    width: Number,
    height: Number
  },
  data() {
    return {
      colors: COLORS
    };
  },
  methods: {
    updateView() {
      this.$emit("cardSelected", {
        card: this.data.id,
        color: this.colors[this.color].base,
        duration: this.data.duration
      });
    }
  },
  computed: {
    showCardExplanation() {
      return this.height >= 170;
    }
  }
};
</script>
