<template>
  <v-container :id="'game-'" class="middle-centered">
    <h1 class="text-center text-h3 font-weight-medium">{{ wordToGuess }}</h1>
    <v-container
      class="mt-6"
      :id="'container-card-' + cards.red.id"
      v-if="cardType === cards.red.id"
    >
      <h3 class="text-center font-weight-medium">Mots interdits</h3>
      <p
        class="text-subtitle text-center font-weight-regular my-1"
        v-for="(word, index) in this.data.game.options.taboo"
        :key="index"
      >
        {{ word }}
      </p>
    </v-container>
    <v-container
      :id="'container-card-' + cards.green.id"
      v-if="cardType === cards.green.id"
    >
      <p
        class="text-subtitle text-center font-weight-regular my-1"
        v-for="(word, index) in this.data.game.options.taboo"
        :key="index"
      >
        {{ word }}
      </p>
      <p class="text-h5 text-center mt-3">
        Indices restants: {{ hintCounter }}
      </p>
      <v-btn
        class="middle-vertically mt-6"
        color="warning"
        @click="sendEventDecrementHint()"
      >
        <v-icon left> mdi-arrow-down </v-icon>
        Diminuer
      </v-btn>
    </v-container>
  </v-container>
</template>

<script>
import { CARDS } from "@/components/MenuSelectCard.vue";
const EVENTS = require("@/metadata/events.json");

import Vue from "vue";

export default {
  name: "GameCard",
  props: {
    type: String,
    data: Object
  },
  data() {
    return {
      cards: CARDS
    };
  },
  computed: {
    wordToGuess() {
      return this.data.game.word;
    },
    cardType() {
      return this.data.game.cardType;
    },
    hintCounter() {
      return this.data.game.options.startCounter;
    }
  },
  methods: {
    sendEventDecrementHint() {
      Vue.params.socket.emit(EVENTS.CLIENT.DECREMENT_HINT, this.data);
    }
  },
  mounted() {
    Vue.params.socket.on(EVENTS.SERVER.SEND_HINT_COUNTER, data => {
      this.data.game.options = data.game.options;
      this.$log.debug(
        "SERVER: SEND_HINT_COUNTER:",
        JSON.stringify(data.game.options)
      );
    });
  }
};
</script>

<style scoped>
.middle-centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.middle-vertically {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
