<template>
  <div class="gameboard">
    <!-- TOP -->
    <h1 class="ma-3 font-weight-light text-center">
      Timer: <span class="">{{ this.formatCountdown() }}</span
      >s
    </h1>
    <!-- CENTER -->
    <game-card :data="data" />
    <!-- FOOTER -->
    <v-footer color="transparent" absolute v-if="isCurrentPlayer">
      <v-row>
        <v-col cols="6">
          <v-btn block large color="light" @click="sendEventValidateWord(false)"
            >Passer <v-icon right> mdi-chevron-double-right </v-icon></v-btn
          >
        </v-col>
        <v-col cols="6">
          <v-btn
            block
            large
            color="success"
            @click="sendEventValidateWord(true)"
            >Valider<v-icon right>
              mdi-checkbox-marked-circle-outline
            </v-icon></v-btn
          >
        </v-col>
      </v-row>
    </v-footer>
    <!-- END DIALOG -->
    <v-dialog v-model="dialog" max-width="290" persistent>
      <v-card>
        <v-card-title class="headline">Score</v-card-title>
        <v-card-text class="font-weight-medium text-center">
          <p class="green--text">{{ scoreValidated }} bonne(s) réponse(s) !</p>
          <p class="red--text">{{ scoreSkipped }} réponse(s) passée(s) !</p>
        </v-card-text>

        <v-card-actions v-if="isCurrentPlayer">
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="updateView()" block>
            Ok!
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Vue from "vue";
import GameCard from "@/components/GameCard.vue";
const EVENTS = require("@/metadata/events");

export default {
  components: { GameCard },
  name: "GameBoard",
  props: {
    data: Object
  },
  data() {
    return {
      duration: this.data.game.duration,
      dialog: false
    };
  },
  methods: {
    formatCountdown() {
      return new Date(this.duration).getTime();
    },
    updateView() {
      this.$emit("score", this.data);
    },
    sendEventValidateWord(valid) {
      this.data.params.valid = valid;
      Vue.params.socket.emit(EVENTS.CLIENT.VALIDATE_WORD, this.data);
    }
  },
  computed: {
    fitHeight() {
      return (
        this.$vuetify.breakpoint.height / 2 -
        this.$vuetify.breakpoint.height * 0.1
      );
    },
    fitWidth() {
      return (
        this.$vuetify.breakpoint.width / 2 -
        this.$vuetify.breakpoint.height * 0.1
      );
    },
    isCurrentPlayer() {
      return this.data.currentPlayer === Vue.params.uuid;
    },
    scoreValidated() {
      return this.data.game.score.validated.length;
    },
    scoreSkipped() {
      return this.data.game.score.skipped.length;
    },
    gameData() {
      return this.data.game;
    }
  },
  mounted() {
    Vue.params.socket.on(EVENTS.SERVER.SEND_WORD, data => {
      this.gameData.word = data.game.word;
      this.gameData.options = data.game.options;
      this.$log.debug("SERVER: SEND_WORD:", JSON.stringify(data));
    });
    Vue.params.socket.on(EVENTS.SERVER.SEND_SCORE, data => {
      this.gameData.score = data.game.score;
      this.dialog = true;
      this.$log.debug(
        "SERVER: SEND_SCORE:",
        JSON.stringify(this.data.game.score)
      );
    });
    Vue.params.socket.on(EVENTS.SERVER.SEND_TIMER, countdown => {
      this.duration = countdown;
      // this.dialog = this.duration === 0;
    });
  }
};
</script>
