<template>
  <v-container fluid>
    <v-row id="row-card-yellow-green" align="center" justify="center">
      <v-col cols="6">
        <card-explanation
          :data="cards.yellow"
          color="amber"
          :width="fitWidth"
          :height="fitHeight"
          @cardSelected="fetchCardSelected"
        />
      </v-col>
      <v-col cols="6">
        <card-explanation
          :data="cards.green"
          color="lightGreen"
          :width="fitWidth"
          :height="fitHeight"
          @cardSelected="fetchCardSelected"
        />
      </v-col>
    </v-row>
    <v-row id="row-card-red-blue" align="center" justify="center">
      <v-col cols="6">
        <card-explanation
          :data="cards.red"
          color="red"
          :width="fitWidth"
          :height="fitHeight"
          @cardSelected="fetchCardSelected"
        />
      </v-col>
      <v-col cols="6">
        <card-explanation
          :data="cards.blue"
          color="blue"
          :width="fitWidth"
          :height="fitHeight"
          @cardSelected="fetchCardSelected"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CardExplanation from "@/components/CardExplanation.vue";

export const CARDS = require("@/metadata/cards.json");

export default {
  components: { CardExplanation },
  name: "MenuSelectCard",
  data() {
    return {
      cards: CARDS
    };
  },
  methods: {
    fetchCardSelected(params) {
      this.$emit("cardSelected", { ingame: true, ...params });
    }
  },
  computed: {
    fitHeight() {
      return (
        this.$vuetify.breakpoint.height / 2 -
        this.$vuetify.breakpoint.height * 0.1
      );
    },
    fitWidth() {
      return (
        this.$vuetify.breakpoint.width / 2 -
        this.$vuetify.breakpoint.height * 0.1
      );
    },
    cardsAsEntries() {
      return Object.entries(this.cards);
    }
  },
  created() {}
};
</script>
