<template>
  <v-app>
    <v-bottom-navigation dark grow app>
      <v-btn text @click="sendEventResetGame()">
        <span>Reset</span>
        <v-icon>mdi-restart</v-icon>
      </v-btn>
      <v-btn
        text
        @click="
          gameData.settings.activateHueAPI = !gameData.settings.activateHueAPI
        "
      >
        <span>Hue API</span>
        <v-icon
          >mdi-lightbulb-group{{
            gameData.settings.activateHueAPI ? "" : "-off"
          }}</v-icon
        >
      </v-btn>
      <v-snackbar v-model="snackbar" timeout="1000" rounded="pill" dark>
        The game and score are reset.
        <template v-slot:action="{ attrs }">
          <v-btn dark text v-bind="attrs" @click="snackbar = false">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-bottom-navigation>
    <v-main id="app">
      <menu-select-card v-if="!isIngame" @cardSelected="fetchCardSelected" />
      <game-board v-if="isIngame" :data="gameData" @score="fetchGameScore" />
    </v-main>
  </v-app>
</template>

<script>
import GameBoard from "@/components/GameBoard.vue";
import MenuSelectCard from "@/components/MenuSelectCard.vue";
import io from "socket.io-client";
import Vue from "vue";

require("dotenv").config({ path: "../.env" });

const EVENTS = require("@/metadata/events.json");
const HOSTNAME = process.env.VUE_APP_HOSTNAME;
const PORT_SERVER = process.env.VUE_APP_API_PORT;
const COLOR_WHITE = "#ffffff";

export const gameData = () => require("@/metadata/gamedata.json");

export default {
  name: "App",
  components: { GameBoard, MenuSelectCard },
  data() {
    return {
      color: COLOR_WHITE,
      gameData: gameData(),
      snackbar: false
    };
  },
  methods: {
    fetchCardSelected(params) {
      this.gameData.currentPlayer = Vue.params.uuid;
      this.gameData.ingame = params.ingame;
      this.gameData.params = params;
      this.gameData.game.cardType = params.card;
      this.gameData.game.duration = params.duration;
      Vue.params.socket.emit(EVENTS.CLIENT.INGAME, this.gameData);
      this.$log.debug("App: fetchCardSelected:", JSON.stringify(params));
    },
    fetchGameScore(params) {
      this.gameData = params;
      Vue.params.socket.emit(EVENTS.CLIENT.ENDGAME, this.gameData);
      this.$log.debug("App: fetchGameScore:", JSON.stringify(params));
    },
    sendEventResetGame() {
      Vue.params.socket.emit(EVENTS.CLIENT.RESET_GAME, this.gameData);
      this.snackbar = true;
      this.$log.debug("App: reset game");
    }
  },
  computed: {
    isIngame() {
      return this.gameData.ingame;
    }
  },
  watch: {
    color: function() {
      /* Update app background color */
      document.getElementById("app").style.background = this.color;
    }
  },
  created() {
    Vue.params = {
      uuid: this.$uuid.v1(),
      socket: io(`http://${HOSTNAME}:${PORT_SERVER}`)
    };
    this.$log.debug("UUID:", Vue.params.uuid);
    console.log("ENV:", process.env);
  },
  mounted() {
    Vue.params.socket.on(EVENTS.SERVER.MENU_SELECT, data => {
      this.gameData = data;
      this.color = COLOR_WHITE;
      this.$log.debug("SERVER: MENU_SELECT:", JSON.stringify(data));
    });
    Vue.params.socket.on(EVENTS.SERVER.INIT_INGAME, data => {
      this.gameData = data;
      this.color = data.params.color;
      this.$log.debug("SERVER: INIT_INGAME:", JSON.stringify(data));
    });
    Vue.params.socket.on(EVENTS.SERVER.RESET_GAME, data => {
      this.gameData = data;
      this.color = COLOR_WHITE;
      this.$log.debug("SERVER: RESET_GAME:", JSON.stringify(this.gameData));
    });
  }
};
</script>
